@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@midudev/tailwind-animations";

@custom-variant dark (&:is(.dark *));

@keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* Thin 100 */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
}

/* ExtraLight 200 */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ExtraLight.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ExtraLightItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
}

/* Light 300 */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

/* Regular 400 */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Italic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

/* Medium 500 */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

/* SemiBold 600 */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-SemiBold.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-SemiBoldItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}

/* Bold 700 */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

/* ExtraBold 800 */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ExtraBold.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ExtraBoldItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
}

/* Black 900 */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Black.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
}

/* Roboto Mono */
/* Thin 100 */
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Thin.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-ThinItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
}

/* ExtraLight 200 */
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-ExtraLight.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-ExtraLightItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
}

/* Light 300 */
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Light.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-LightItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

/* Regular 400 */
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Italic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

/* Medium 500 */
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Medium.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-MediumItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

/* SemiBold 600 */
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-SemiBold.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-SemiBoldItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}

/* Bold 700 */
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Bold.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-BoldItalic.ttf') format('truetype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

html {
  color-scheme: normal !important;
}

body {
  background: none !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  user-select: none;
  overflow: hidden !important;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.toast-inform {
  background-color: #2980b9;
}

.toast-success {
  background-color: #27ae60;
}

.toast-error {
  background-color: #c0392b;
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #09090b;
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717b;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --destructive: #e7000b;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #9f9fa9;
  --chart-1: #f54a00;
  --chart-2: #009689;
  --chart-3: #104e64;
  --chart-4: #ffba00;
  --chart-5: #fd9a00;
  --sidebar: #fafafa;
  --sidebar-foreground: #09090b;
  --sidebar-primary: #18181b;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #9f9fa9;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b;
  --card-foreground: #fafafa;
  --popover: #18181b;
  --popover-foreground: #fafafa;
  --primary: #e4e4e7;
  --primary-foreground: #18181b;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #9f9fa9;
  --accent: #27272a;
  --accent-foreground: #fafafa;
  --destructive: #ff6467;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #70707b;
  --chart-1: #1447e6;
  --chart-2: #00bc7d;
  --chart-3: #fd9a00;
  --chart-4: #ad46ff;
  --chart-5: #ff2056;
  --sidebar: #18181b;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #1447e6;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #71717b;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-transparent text-foreground;
  }
}



input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.rbgcp-control-btn-wrapper	{
  background-color: transparent;
}



@layer utilities {
  @keyframes progress-bar {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  
  .animate-progress-bar {
    animation: progress-bar linear;
  }
}



.context-menu-cls-btn :hover {
  background-color: var(--background) !important;
  opacity: 0.5 !important;
}
